main{
    background-color: #F6F9FC;
    .container-image{
        img{
            img {
                width: 100px; 
                height: 100px;
              
              }
        }
    }
  }
  
