footer{
    background-color: #010E28;
      p{
        text-align: center;
         color: white;
      }  
      .footer picture img{
        -ms-flex-item-align: end;
        width: 21px;
        height: 21px;
        -ms-flex-align: end;
      
      }
    }